body {
  height: 100vh; 
  display: flex;
  background-color: #E5E5E5;
  justify-content: center;
  align-items: center;
}
.squares{

  font-size: 25px;
  color: #280a0a;
    

}
.container {
  border: 5px ;
    align-items:center; 
    justify-content:space-evenly;
    width: 100%;
    max-width:  1152px; 
    max-height: 700px;
    height: 100%;
    padding: 20px;
    display: flex;
    background-color: #370617;
    flex-wrap: wrap;
  
}
.row1{
  display:flex;
  justify-content: flex-start;
  align-items: wrap;
  max-width: 468px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px;;
  padding: auto;
 background-color: #F48C06;
 flex-wrap: wrap;
 align-content: flex-end;
}
 
 .row2{
  display:flex;
  justify-content: center;
  align-items: wrap;
  max-width: 468px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px;;
  padding: auto;
 background-color: #F48C06;
 flex-wrap: wrap;
}
 .row3{
  display:flex;
  justify-content: flex-end;
  align-items: wrap;
  max-width: 468px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px;;
  padding: auto;
 background-color: #F48C06;
 flex-wrap: wrap;
 align-content: center;
}
.row4{
  display:flex;
  flex-direction:column;
  align-content:space-between;
  max-width: 468px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px;;
  padding: auto;
 background-color: #F48C06;
 flex-wrap: wrap;

}




 .row5{
  display:flex;
  justify-content: center;
  align-items: wrap;
  max-width: 468px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px;;
  padding: auto;
 background-color: #F48C06;

 

}

 .row6{
  display:flex;
  justify-content:center;
  align-items: wrap;
  max-width: 468px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px;;
  padding: auto;
 background-color: #F48C06;
 flex-wrap: wrap;
  


}
.box{
  background-color: #9D0208;
  /* border: 5px solid rgb(210, 227, 25); */
  border-radius: 4px;
  min-width: 78px;
  min-height: 78px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.third{
  align-self:flex-end;
  
}
 
